{% extends 'base.html.twig' %}

{% block body %}

<h1> Cliente </h1>

<li> 
	{{ cliente.id }} - 
	{{ cliente.nombre }} - 
	{{ cliente.nombre }} - 
	{{ cliente.direccion }} - 
	{{ cliente.cp }} - 
	{{ cliente.ciudad }}
</li>

<h3>Mascotas de este cliente</h3>

	{% for mascota in cliente.mascotas %}
		<li> 
			{{ mascota.id }} -
			{{ mascota.nombre }} - 
			{{ mascota.animal }} - 
			{{ mascota.fechanac|date("Y/m/d")}} 

  			<a href="{{ path('mascota_detalle', {'id': mascota.id}) }}"> Ir al detalle </a>
  		</li> 

	{% endfor %}


	<a href="{{ path('cliente_index') }}"> Ir a la lista de clientes</a>

{{ dump(cliente) }}

{% endblock %}
